<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<header>
		<ul class="leul nav nav-tabs">
			<li role="presentation"><a href="/">
				<i class="fa-solid fa-house"></i>
				Accueil
			</a></li>
			<li role="presentation" class="active"><a href="/configuration">
				<i class="fa-solid fa-gear"></i>
				Configuration
			</a></li>
		</ul>
	</header>
</body>
</html>